*,html,body{
  margin: 0;
  padding:0;
  font-family: "Roboto", sans-serif;
}

body{
  background:rgba(248, 248, 248, 1);
}

.wrapper{
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: 70px;
  background-color: rgb(81, 111, 235);
  align-items: center;
}

.cart{
  padding: 30px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: white;
  align-items: center;
}

.cart img{
  width: 30px;
}

.cart>li{
  padding: 25px 15px;
}

.cart li:hover .dropdown{
  display: block;
  background-color: white;
  position:absolute;
  align-items: center;
  border-radius: 10px;
  margin-block: 5px;
}

.dropdown{
  display: none;
  list-style-type: none;
}


.dropdown li a{
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgba(152, 152, 171, 1);
  align-items: center;
}

.sideLeft{
  display: flex;
  align-items: center;
}

.navigation{
  list-style-type: none;
  text-align: center;
}

.navigation>li{
  display: inline-block;
  padding:20px;
}

.navigation>li>a{
  color: white;
  font-size: 15px;
  font-weight: 550;
  text-decoration: none;
  text-transform: capitalize;
  padding: 12px 12px;
}

.navigation>li>a:hover{
  background-color: rgb(243, 161, 48);
  color: black;
  transition:all .4s ease-in-out;
}

.top-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.top-content .title{
  padding: 30px;
  color:rgba(81, 111, 235, 1) ;
}

.progres{
  padding: 10px;
}

.progres a{

  margin:auto;
  color: rgb(81, 111, 235);
  padding:50px;
  text-align: center;
  font-weight: 600;
  font-size: larger;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 10px;

}

.progres .btn-selesai{
  font-weight: 800;
}

.list-product{
  padding: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%; left: 10%;
}

.wrap-product{
  margin-top: 20px;
  margin-right:20px ;
  display: flex;
  justify-content: space-between;
  border: 3px solid rgba(179, 210, 248, 1);
  border-radius: 6px;
}

.left-image{
  display: flex;
}

.left-image img{
  padding: 20px;
  width: 500px;
  height: 280px;
}

.mid-detail{
  padding: 20px;    
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item-name .done {
  width: fit-content;
  padding: 15px 30px;
  margin-bottom: 5px;
  background-color: rgba(238, 243, 246, 1);
  color: rgba(100, 100, 100, 1);
  font-weight: 600;
  border-radius: 6px;
}

.mid-detail h3{
  color:rgb(81, 111, 235) ;
  font-size: 24px;
}

.mid-detail p{
  color:rgb(81, 111, 235) ;
  font-size: 18px;
}

.total-price p{
  padding-bottom: 30px;
  color:rgb(81, 111, 235) ;
  font-size: 24px;
  font-weight: 600;
}

.right-price{
  padding: 20px;
  padding-top: 35px;
  margin-right: 40px;
}

.btn-action {
  display: flex;
  flex-direction: column;
}

.btn-action button{
  width: 180px;
  height: 40px;
  margin: 20px;
}

.btn-verified{
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  background-color: rgb(81, 111, 235);
  color: white;
  cursor: pointer;
}